* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.235);
    -webkit-text-stroke: 0.06rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow: hidden;
}

header {
    font-size: 5rem;
    text-align: center;
    padding: 12px;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;
    background: fixed;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    max-width: max-content;
    overflow: hidden;
}

#image-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
}

#wallpaper {
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1470435933478-efeee4d10f64?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0ODczOTN8MHwxfHNlYXJjaHw4fHxza3klMjBQYXJ0bHklMjBjbG91ZHl8ZW58MHx8fHwxNzA1MDc5Njc0fDA&ixlib=rb-4.0.3&q=80&w=1080");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    filter: brightness(0.7);
    transition: background-image 3s ease-in-out;
}

section {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
    align-items: center;
}

.location,.condition{
    margin: 20px 0px;
    border-bottom: 1px solid white;
    text-transform:capitalize;
    backdrop-filter: blur(30px);
    padding: 4px;
    column-gap: 20px;
}

.location div,.condition div{
    color: white;
    font-weight: 300;

}

.location div span,.condition div span{
    color: white;
    box-shadow: 0px 2px yellow;
}

#image img {
    filter: drop-shadow(3px 4px 2px black);
}

#status {
    padding: 4px;
    backdrop-filter: blur(30px);
    color: white;
    font-weight: 300;
    box-shadow: 0px 2px yellow;
}
#temp {
    grid-area: 1/1/3/2;
    font-size: 90px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    margin: 30px 0 0 0;
}

form input{
    text-transform: capitalize;
    text-align: center;
    max-width: 270px;
    font-size: xx-large;
    border: 1px solid white;
    padding: 4px 10px;
    background: transparent;
    padding: 4px;
    cursor: text;
    backdrop-filter: blur(30px);
    color: transparent;
    caret-color: white;
}

form input:focus{
    outline:white;
}

form button{
        background: none;
        border: 1px solid white;
        background-color: rgba(78, 165, 199, 0);
        padding: 9px;
        font-size: x-large;
        cursor: pointer;
        backdrop-filter: blur(30px);
        color: transparent;
}

footer{
    backdrop-filter: blur(30px);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 8px;
    padding-bottom: 15px;
}

footer span{
    -webkit-text-stroke-color: yellow;
}